.loader-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 1000ms;
}

.hide {
  transition-delay: 600ms;
  opacity: 0;
  visibility: hidden;
}

.loader {
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: .12rem solid #f8bbd0;
  padding: .7rem;
  transform: rotate(90deg) scale(1);
  transition: all 300ms;
}

.loader.prepare {
  transform: rotate(90deg) scale(0);
}

.loader.start {
  transform: rotate(90deg) scale(1);
  animation: loader-animation 500ms infinite;
}

@keyframes loader-animation {
  0% {
    padding: .5rem;
    opacity: 1;
  }

  100% {
    padding: 1rem;
    opacity: 0;
  }
}

.loader.stop {
  animation: none;
  transition-delay: 50ms;
  transition-duration: 1000ms;
  transform: rotate(-90deg);
  margin-top: 14.8rem;
}