.wrapper {
  height: 100vh;
  width: 100vw;
  color: #FFF;
}

.text-container {
  margin-top: 5rem;
  text-align: center;
  z-index: 5;
}

.text {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.2rem;
  letter-spacing: .05rem;
  font-weight: bold;
}

.text:hover {
  cursor: default;
}

.text-highlight {
  position: relative;
  font-family: 'Kurale', sans-serif;
  letter-spacing: 0rem;
  padding-left: .1rem;
  font-weight: normal !important;
  color: #42a5f5;
}

.text-highlight:hover {
  cursor: pointer !important;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: .12rem solid transparent;
  padding: .7rem;
  margin-top: 2.5rem;
  transition: all 300ms;
  animation: blinker 1s ease infinite;
  z-index: 10;
  transform: rotate(-90deg);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.button:hover {
  border: .12rem solid #f8bbd0;
  animation: none;
}

.arrow-icon {
  padding: .9rem 0rem;
}
