.menu-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  visibility: hidden;
}

.open-menu {
  visibility: visible;
  transform: scale(2.5);
}

.close-menu {
  transition-delay: 470ms !important;
  visibility: hidden;
  transform: scale(0);
}

#menu {
  position: absolute;
  top: -45.6rem;
  right: -44.2rem;
  height: 100rem;
  width: 100rem;
  border-radius: 50%;
  transform-origin: center;
  transition: all 550ms cubic-bezier(.74,.2,.37,1);
}

.menus {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li.menu-item {
  font-weight: bold;
  font-size: 1.5rem;
  transform: scale(0);
  opacity: 0;
  perspective: 100px;
  transition: all 500ms cubic-bezier(.36,-0.64,.34,1.76);
}

li.item-show {
  opacity: 1;
  visibility: visible;
  transform: rotateY(-90deg);
  transform: rotateX(-90deg);
  transform: scale(1);
}

li.item-show:nth-child(1) {
  transition-delay: 200ms;
}

li.item-show:nth-child(2) {
  transition-delay: 300ms;
}

li.item-show:nth-child(3) {
  transition-delay: 400ms;
}

li.item-hide:nth-child(1) {
  transition-delay: 300ms;
}

li.item-hide:nth-child(2) {
  transition-delay: 200ms;
}

li.item-hide:nth-child(3) {
  transition-delay: 100ms;
}

.menu-item a {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  margin: .1rem auto;
  width: 45vw;
  color: #FFF;
  text-decoration: none;
  transition: all 300ms;
}

.menu-item a:before,
.menu-item a:after {
  content: '';
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #FFF;
  margin: 0 1.5rem;
  align-self: center;
  transition: all 300ms;
}

.menu-item a:hover {
  font-size: 2.5rem;
}