.browser-container {
  margin: 0 .04rem -0.1rem .06rem;
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  100% {
    transform: rotate(-360deg);
  }
}

.browser {
  fill: #4A3790;
}
