.navbar-container {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 15;
}

.navbar {
  padding: 3rem 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#nav-icon-container {
  transform: scale(.5);
}

#nav-icon {
  position: relative;
  width: 60px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #FFF;
  border-radius: 9px;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  opacity: .25;
}

#nav-icon:hover > span {
  opacity: 1;
  width: 100% !important;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  width: 80%;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  width: 90%;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center;
  width: 65%;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -3px;
  right: 8px;
  width: 100%;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 39px;
  right: 8px;
  width: 100%;
}