.footer {
  position: absolute;
  bottom: 1.5rem;
  font-size: 85%;
}

#code {
  position: relative;
  top: .35rem;
  margin-right: .2rem;
  height: 20px;
  width: 20px;
}

#code path {
 fill: #FF9250;
}

#love {
 margin-bottom: -0.3rem;
 width: 16px;
 height: 16px;
}

#love path {
 fill: #E636DC;
}

#jogja {
 font-weight: bold;
 letter-spacing: .1rem;
}