:root {
  --bg-color: rgba(25, 30, 35, 0.6);
}

.speech-bubble {
  display: none;
  position: absolute;
  top: -4.6rem;
  right: 0rem;
  background: var(--bg-color);
  border-radius: .4em;
  transform-origin: bottom right;
  z-index: 10;
  text-shadow: none !important;
}

.show {
  display: inline-block;
  opacity: 1;
}

.showing {
  display: inline-block;
  animation: show-animate 700ms cubic-bezier(0,1.38,1,1.18) 1;
}

@keyframes show-animate {
  0% {
    transform: translateY(13pt) rotate(45deg) scale(.1);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.hiding {
  display: inline-block;
  animation: hide-animate 700ms cubic-bezier(.72,-0.37,.8,.25) 1;
}

@keyframes hide-animate {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(15pt) scale(.1);
    opacity: 0;
  }
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 0;
  border: .75em solid transparent;
  border-top-color: var(--bg-color);
  border-left: 0;
  border-bottom: 0;
  margin-right: -6em;
  margin-bottom: -.75em;
}

.links {
  list-style: none;
  display: flex;
  padding: 10pt 5pt;
  box-sizing: content-box;
}

.link {
  flex-grow: 1;
}

.link a {
  padding: 10pt;
  color: #FFF;
}

.link a:hover {
  color: #616161;
}

span.divider:hover {
  cursor: default;
}

span.divider {
  color: #FFF;
  padding: 0 5pt;
}