.text-animation-container {
  position: relative;
  display: inline-block;
  top: .85rem;
  height: 3.3rem;
  overflow-y: hidden;
}

.text-animation {
  list-style: none;
  text-align: left;
  transform: translateY(-3.2rem);
  transition: all 600ms cubic-bezier(.50,-0.9,.55,1.9);
}

.text-animating {
  transform: translateY(0rem);
}

.stack {
  color: #FFEE53;
}
.snack {
  color: #ef5350;
}
