.flip {
  -webkit-transform: rotateX(90deg) translateY(-22px);
          transform: rotateX(90deg) translateY(-22px);
  padding-top: -.55rem !important;
}

.developer span.flip-animate:nth-child(1) span {
  transition-delay: 0ms;
}

.developer span.flip-animate:nth-child(2) span {
  transition-delay: 50ms;
}

.developer span.flip-animate:nth-child(3) span {
  transition-delay: 100ms;
}

.developer span.flip-animate:nth-child(4) span {
  transition-delay: 150ms;
}

.developer span.flip-animate:nth-child(5) span {
  transition-delay: 200ms;
}

.developer span.flip-animate:nth-child(6) span {
  transition-delay: 250ms;
}

.developer span.flip-animate:nth-child(7) span {
  transition-delay: 300ms;
}

.developer span.flip-animate:nth-child(8) span {
  transition-delay: 350ms;
}

.developer span.flip-animate:nth-child(9) span {
  transition-delay: 400ms;
}

.developer span.flip-animate:nth-child(6) span:before {
  margin: 0 0 0 .25rem;
}

span.flip-animate span:before {
  font-size: 110%;
  font-weight: normal !important;
  font-family: 'Anonymous Pro', sans-serif;
  text-shadow: 2px 3px 0 rgba(0, 0, 0, .2);
}

span.flip-animate {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

span.flip-animate span {
  position: relative;
  display: inline-block;
  padding: 0;
  transition: -webkit-transform 0.3s cubic-bezier(.2,1,.95,1);
  transition: transform 0.3s cubic-bezier(.2,1,.95,1);
  transition: transform 0.3s cubic-bezier(.2,1,.95,1), -webkit-transform 0.3s cubic-bezier(.2,1,.95,1);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

span.flip-animate span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-hover);
  transition: color 0.3s;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  text-align: center;
}
